.center{
    width: 65%;
    size: 65%;
    max-width: 65%;
    height:100%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}
.left{
    max-width: 30%;
    float: left;
    min-height: auto; 
}
.right{
    width: 65%; 
    float: left;
    font-size: 1.5rem; 
    min-height: auto;
    padding-left: 4%;
}
.contentwrap {
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}