/*---------home page---------*/

nav {
    text-align: right;
    font-size: 1.25em;
    position: fixed;
    background: blue;
    width: 1000px;
    margin: 0 auto;
    padding-left: 5px;
    left: 0;
    right: 0;
  }
  nav a {
    color: white;
    padding: 2px;
  }
.navbar {
    color: blue;
  }
  :target:before {
    content: "";
    display: block;
    height: 40px;
    margin: -40px 0 0;
  }
.Right {
  float: right;
}

.inline h1,
form,
button,
div {
  display: inline;
}

.hover {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
a:hover {
  color: black;
}
.left {
  max-width: 30%;
  float: left;
  min-height: auto;
}

/*--------------BMI Insert----------*/

form input {
  padding-top: 2px;
}

/*----------about us------------*/
.center {
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10%;
}
.right {
  width: 65%;
  float: left;
  font-size: 1.5rem;
  min-height: auto;
  padding-left: 4%;
}
.contentwrap {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}
/*------------Nav-------------*/
.topBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
/*------------Footer----------*/

footer {
  position: absolute;
  padding-left: 40%;
  bottom: 0;
  height: 1em;
  /* Height of the footer */
  width: 100%;
  min-height: 5vh;
  background-color: #f2f2f2;
  line-height: 40px;
  /*Specifies the line height.*/
  min-width: 400px;
}
/* 

Content-wrap

  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
  }
  
  Contact-info

  .contact-info a {
    padding: 10px;
    display: inline-block;
  }

*/

/*-----------login------------*/

.login {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.login > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-top: 2px;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/*-----------Register-----------*/

.register {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
/*-------------Side Nav---------------*/
.sidenav {
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
  }
  
  .sidenav a:hover {
    color: blue;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }