
/*---------home page---------*/

nav {
  text-align: right;
  font-size: 1.25em;
  position: static;
  background: blue;
  width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  left: 0;
  right: 0;
}
nav a {
  color: white;
  padding-right: 2%;
}
nav a:hover {
  color: lightblue;
}

nav h2 {
  color: white;
}

.navbar {
  color: blue;
}
:target:before {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0;
}
.Right {
  float: right;
}

.inline h1,
button,
div {
  display: inline;
}

.hover {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.left {
  padding-left: 45%;
  float: left;
}
img{
    padding-top: 1.5%;
    padding-left: 35%;
}

/*--------------BMI Insert----------
https://stackoverflow.com/questions/17275707/how-do-i-evenly-add-space-between-a-label-and-the-input-field-regardless-of-leng
*/
form {
    padding-left: 15%;
}

label {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

.content-BMI {
    float: left;
    max-width: 950px;
    padding-left: 0%;
    padding-top: 2%;
    line-height: 1.6;
  }
/*-----------Display BMI---------*/
iframe{
    margin-top: 0%;
    margin-left: 35%

}



/*----------about us------------*/
.center {
  height: 50px;
  text-align: center;
  font-family: sans-serif;
}
.right {
  width: 65%;
  float: left;
  font-size: 1.5rem;
  min-height: auto;
  padding-left: 4%;
}
.contentwrap {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 25px;
  padding-left: 5%;
}
table{
    padding-top: 5%;
    padding-left: 20%;
}
/*------------Nav-------------*/
.topBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
/*------------Footer----------*/

footer {
  position: absolute;
  padding-left: 50%;
  bottom: 0;
  height: 1em;
  /* Height of the footer */
  width: 50%;
  min-height: 5vh;
  background-color: blue;
  color: white;
  line-height: 40px;
  /*Specifies the line height.*/
  min-width: 40px;
}
footer a{
    color: white;
    padding-left: 3%;
}
/*--------------text styling-----------
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_line-height
*/
.content-wrap {
  float: left;
  max-width: 950px;
  padding-left: 15%;
  padding-top: 1.75%;
  line-height: 1.6;
}

.column-wide {
  padding-top: 100px;
  width: 35%;
  float: right;
  padding-right: 10%;
  line-height: 1.6;
}

/*-----------login------------*/
.inline h1 img{
  display: inline;
}
.login {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.login > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-top: 5px;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/*-----------Register-----------*/

.register {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/*-------------Side Nav---------------
https://www.w3schools.com/howto/howto_js_sidenav.asp
*/

.sidenav {
  height: 100%;
  width: 185px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: darkblue;
  display: block;
}

.sidenav a:hover {
  color: purple;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*
Sources
https://cdn.horizonfitness.rocks/catalog/product/t/1/t101-mop3-r.jpg
https://create-react-app.dev/docs/adding-images-fonts-and-files/
*/