nav{
    background-color:#DCDCDC;
    margin-top: -10px;
    padding: 8px;
}

.Right{
    float: right;
}

.inline h1, form, button, a, div {
    display: inline;
}

nav a.active{
    background-color: black;
    color: black;
    padding: 14px;
    font-size: 24px;
}

.hover{
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}